# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The Python VS Code extension creates this internal folder
.ptvs/

# macOS-specific files
.DS_Store

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android
/android/key.properties
/android/app/local.properties
/android/app/generated_dots/
/android/app/src/main/res/raw/
/android/sdk.dir
/android/local.properties
*.keystore
*.jks

# iOS
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/DerivedData/
*.moved-aside
*.xcuserstate
/ios/Podfile.lock

# Windows
/windows/flutter/ephemeral/
/windows/CMakeCache.txt
/windows/CMakeFiles/
/windows/CMakeLists.txt.user
/windows/all_build.vcxproj
/windows/all_build.vcxproj.filters
/windows/cmake_install.cmake
/windows/google_fonts/
/windows/runner/
/windows/x64/
/windows/ZERO_CHECK.vcxproj
/windows/ZERO_CHECK.vcxproj.filters

# Artifacts
/CINE_HOME_RESUME_VERSION.docx
/BINIYAM_WEGENE_Final_CV.docx
